#sass
src/main/webapp/resources/.sass-cache/
.sass-cache/
*.css.map

#java
*.class
*.log
*.jar

#packages
*.war
*.zip
*.tar.gz
*.rar

#eclipse
target/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.launch
local.properties
.settings/
.loadpath
.recommenders
.target
.classpath
.project

#vim
*~
*.swp
